<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
   
    <body>
    <form action="javascript:login()">
    Email: <input type="email" id="email" required>
    <br>
    <br>
    Password: <input type="password" id="password" required>
    <br>
    <br>
    <div id="loginError"></div>
    <button>Login</button>
    <br>
</form> 
<script>
    // URL for deployment
    var url = "https://codelingo.duckdns.org/"
    // Comment out next line for local testing
    // url = "http://localhost:8085"
    // Authenticate endpoint
    const login_url = url + 'authenticate';


    function login(){
        // Set body to include login data
        const body = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
        };

        // Set Headers to support cross origin
        const requestOptions = {
            method: 'POST',
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'include', // include, *same-origin, omit
            body: JSON.stringify(body),
            headers: {
                "content-type": "application/json",
            },
        };

        // Fetch JWT
        fetch(login_url, requestOptions)
        .then(response => {
            // trap error response from Web API
            if (!response.ok) {
                const errorMsg = 'Login error: ' + response.status;
                console.log(errorMsg);
                return;
            }
            // Success!!!
            // Redirect to Database location
            window.location.href = "/templates/index.html";
        })
    }
</script>
    </body>
</html>
